{%extends 'yousta/base.html'%}

{%block body_block%}

<div class="container">

    <table class="table table-striped">

        <tr>
            <td>Name</td>
            <td>Material</td>
            <td>Brand</td>
            <td>image</td>
        </tr>

        {%for ct in cloths%}
           <tr>
                <td>{{ct.name}}</td>
                <td>{{ct.material}}</td>
                <td>{{ct.brand}}</td>
                <td>
                    <img src="{{ct.image.url}}" alt="" width="50%" height="200px">
                </td>
                <td>
                    <a href="{%url 'cloth-remove' ct.id%}" class="btn btn-outline-danger">delete</a>
                    <a href="{%url 'add-varient' ct.id%}" class="btn btn-outline-info">add</a>
                    <a href="{%url 'cloth-detail' ct.id%}" class="btn btn-outline-info">view</a>
                    
                </td>
           </tr>

        {%endfor%}
        

    </table>




</div>


{%endblock%}